<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.blog.mapper.ImgMapper">

  <!-- selectCount --> 

  <select id="selectCount">
  select count(*) from `img`
  </select>

  <!-- imgs --> 

  <select id="imgs">
  select url from `img`  whe
  </select>  
  
</mapper>
