@font-face {
  font-family: "iconfont"; /* Project id 3291405 */
  src: url('iconfont.woff2?t=1662696995477') format('woff2'),
       url('iconfont.woff?t=1662696995477') format('woff'),
       url('iconfont.ttf?t=1662696995477') format('truetype'),
       url('iconfont.svg?t=1662696995477#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apk:before {
  content: "\e68d";
}

.icon-deb:before {
  content: "\eb74";
}

.icon-JavaScript:before {
  content: "\e704";
}

.icon-play-next:before {
  content: "\e850";
}

.icon-play:before {
  content: "\e851";
}

.icon-playlist:before {
  content: "\e852";
}

.icon-play-prev:before {
  content: "\e853";
}

.icon-rewind-forward:before {
  content: "\e854";
}

.icon-rewind-back:before {
  content: "\e855";
}

.icon-reload-:before {
  content: "\e856";
}

.icon-repeat:before {
  content: "\e857";
}

.icon-shuffle:before {
  content: "\e858";
}

.icon-volumn:before {
  content: "\e859";
}

.icon-sound-off:before {
  content: "\e85a";
}

.icon-play-pause:before {
  content: "\e863";
}

.icon-back:before {
  content: "\e71c";
}

.icon-folder:before {
  content: "\e722";
}

.icon-psd:before {
  content: "\e8c1";
}

.icon-mkv:before {
  content: "\e64c";
}

.icon-mp4:before {
  content: "\e6c3";
}

.icon-txt:before {
  content: "\e6c8";
}

.icon-text:before {
  content: "\e8c2";
}

.icon-jsx:before {
  content: "\e64b";
}

.icon-yml:before {
  content: "\e64a";
}

.icon-sh:before {
  content: "\e68c";
}

.icon-script:before {
  content: "\e88b";
}

.icon-rb:before {
  content: "\e6a7";
}

.icon-docx:before {
  content: "\e601";
}

.icon-yellowFolder:before {
  content: "\e602";
}

.icon-outlook:before {
  content: "\e608";
}

.icon-ppt:before {
  content: "\e60a";
}

.icon-audio:before {
  content: "\e623";
}

.icon-d:before {
  content: "\e624";
}

.icon-autohotkey:before {
  content: "\e625";
}

.icon-autoit:before {
  content: "\e626";
}

.icon-assembly:before {
  content: "\e627";
}

.icon-android:before {
  content: "\e628";
}

.icon-applescript:before {
  content: "\e629";
}

.icon-actionscript:before {
  content: "\e62a";
}

.icon-changelog:before {
  content: "\e62b";
}

.icon-circleci:before {
  content: "\e62c";
}

.icon-circleci_light:before {
  content: "\e62d";
}

.icon-cmake:before {
  content: "\e62e";
}

.icon-clojure:before {
  content: "\e62f";
}

.icon-babel:before {
  content: "\e630";
}

.icon-blink:before {
  content: "\e631";
}

.icon-blink_light:before {
  content: "\e632";
}

.icon-archive:before {
  content: "\eb75";
}

.icon-browserlist:before {
  content: "\e633";
}

.icon-c:before {
  content: "\e634";
}

.icon-edge:before {
  content: "\e635";
}

.icon-ejs:before {
  content: "\e636";
}

.icon-email:before {
  content: "\e637";
}

.icon-erlang:before {
  content: "\e638";
}

.icon-exe:before {
  content: "\e639";
}

.icon-firebase:before {
  content: "\e63a";
}

.icon-favicon:before {
  content: "\e63b";
}

.icon-eslint:before {
  content: "\e63c";
}

.icon-coffee:before {
  content: "\e63d";
}

.icon-file:before {
  content: "\e63e";
}

.icon-console:before {
  content: "\e63f";
}

.icon-cpp:before {
  content: "\e640";
}

.icon-contributing:before {
  content: "\e641";
}

.icon-csharp:before {
  content: "\e642";
}

.icon-css:before {
  content: "\e643";
}

.icon-diff:before {
  content: "\e644";
}

.icon-sql:before {
  content: "\e645";
}

.icon-document:before {
  content: "\e646";
}

.icon-django:before {
  content: "\e647";
}

.icon-dart:before {
  content: "\e648";
}

.icon-folder-audio:before {
  content: "\e649";
}

.icon-groovy:before {
  content: "\e652";
}

.icon-gulp:before {
  content: "\e653";
}

.icon-haskell:before {
  content: "\e654";
}

.icon-handlebars:before {
  content: "\e655";
}

.icon-html:before {
  content: "\e656";
}

.icon-h:before {
  content: "\e657";
}

.icon-font:before {
  content: "\e658";
}

.icon-git:before {
  content: "\e659";
}

.icon-gradle:before {
  content: "\e65a";
}

.icon-go:before {
  content: "\e65b";
}

.icon-go-mod:before {
  content: "\e65c";
}

.icon-gitlab:before {
  content: "\e65d";
}

.icon-haml:before {
  content: "\e65e";
}

.icon-map:before {
  content: "\e65f";
}

.icon-json:before {
  content: "\e660";
}

.icon-lib:before {
  content: "\e662";
}

.icon-less:before {
  content: "\e663";
}

.icon-laravel:before {
  content: "\e664";
}

.icon-lock:before {
  content: "\e665";
}

.icon-log:before {
  content: "\e666";
}

.icon-lua:before {
  content: "\e667";
}

.icon-md:before {
  content: "\e668";
}

.icon-makefile:before {
  content: "\e669";
}

.icon-livescript:before {
  content: "\e66a";
}

.icon-mdx:before {
  content: "\e66b";
}

.icon-http:before {
  content: "\e66c";
}

.icon-image:before {
  content: "\e66d";
}

.icon-in:before {
  content: "\e66e";
}

.icon-java:before {
  content: "\e66f";
}

.icon-js:before {
  content: "\e670";
}

.icon-ionic:before {
  content: "\e671";
}

.icon-php:before {
  content: "\e67e";
}

.icon-powerpoint1:before {
  content: "\e67f";
}

.icon-ps1:before {
  content: "\e680";
}

.icon-node:before {
  content: "\e683";
}

.icon-npm:before {
  content: "\e685";
}

.icon-nunjucks:before {
  content: "\e686";
}

.icon-nuxt:before {
  content: "\e687";
}

.icon-pug:before {
  content: "\e682";
}

.icon-pdf:before {
  content: "\e688";
}

.icon-postcss:before {
  content: "\e681";
}

.icon-react:before {
  content: "\e689";
}

.icon-tsx:before {
  content: "\e68a";
}

.icon-readme:before {
  content: "\e68b";
}

.icon-py:before {
  content: "\e690";
}

.icon-r:before {
  content: "\e691";
}

.icon-rust:before {
  content: "\e68f";
}

.icon-raml:before {
  content: "\e692";
}

.icon-svg:before {
  content: "\e698";
}

.icon-svelte:before {
  content: "\e699";
}

.icon-ts:before {
  content: "\e6a3";
}

.icon-url:before {
  content: "\e6a4";
}

.icon-table:before {
  content: "\e6a5";
}

.icon-tex:before {
  content: "\e6a9";
}

.icon-todo:before {
  content: "\e6aa";
}

.icon-word1:before {
  content: "\e6b0";
}

.icon-xaml:before {
  content: "\e6b1";
}

.icon-xml:before {
  content: "\e6b2";
}

.icon-vim:before {
  content: "\e6b5";
}

.icon-virtual:before {
  content: "\e6b6";
}

.icon-visualstudio:before {
  content: "\e6b7";
}

.icon-vscode:before {
  content: "\e6b8";
}

.icon-vue:before {
  content: "\e6b9";
}

.icon-yarn:before {
  content: "\e6bd";
}

.icon-zip:before {
  content: "\e6be";
}

.icon-yaml:before {
  content: "\e6bf";
}

